<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sol.member.dao.MemberDAO">
  <insert id="joinMember" parameterType="mvo">
     <selectKey keyProperty="memseq" resultType="int" order="BEFORE">
       SELECT NVL(MAX(MEMSEQ),0)+1 memseq FROM MEMTB
     </selectKey>
      INSERT INTO 
      MEMTB(MEMID
           ,MEMSEQ
           ,MEMNAME
           ,MEMTEL
           ,MEMBIRTH
           ,REGDATE
           ,MEMEMAIL
           ,MEMGENDER
           ,PASSWD)
      VALUES(#{memid}
           ,#{memseq}
           ,#{memname}
           ,#{memtel}
           ,#{membirth}
           ,SYSDATE
           ,#{mememail}
           ,#{memgender}
           ,#{passwd})
  </insert>


  <select id="memberList" parameterType="mvo" resultType="mvo">
    SELECT A.*                                                          
	FROM (SELECT ROWNUM RR, RMEBER.*                               
	        FROM  (SELECT MEMID, MEMSEQ, MEMNAME, MEMTEL
                    ,MEMBIRTH, REGDATE, MEMEMAIL, 
                     MEMGENDER, PASSWD
                     FROM MEMTB                                     
	                ORDER BY MEMSEQ DESC) RMEBER) A
	 <choose>
	  <when test="memid!=null">
	     WHERE MEMID = #{memid} 
	  </when>
	 </choose>
	                   
 </select>

   <delete id="memDelete" parameterType="mvo">
      DELETE FROM MEMTB WHERE MEMID = #{memid} 
   </delete>

  <select id="allCount" resultType="int">
    SELECT COUNT(MEMID) ALLCNT FROM MEMTB
  </select>


 <select id="idCheck" parameterType="String" resultType="Integer">
    SELECT COUNT(*) FROM MEMTB  WHERE memid = #{userid}
 </select>

</mapper>

